.emptyPacks_container {
    width: 80%;
    margin: 0px auto;
}

.emptyPacks_info {
    margin-top: 86px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 32px;
}