.allPacks {

}

.allPacks_container {
    width: 100%;
    margin: 0px auto;
    max-width: 1008px;
}

.allPacks_titleAndButton {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.allPacks_interface {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.filter_button{
    margin-top: auto;
    border: none;
    padding: 0;
    outline: none;
    background: none;
    margin-bottom: 4px;
}