.actionsWithCards {
    display: flex;
    width: 50px;
}


.actionsWithCards button {
    border: none;
    outline: none;
    width: 16px;
    height: 16px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-left: 20px;
    cursor: pointer;
}

.actionsWithCards button:hover {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
}