.actionsWithPacks {
  display: flex;
  flex-wrap: nowrap;

  width: 50px;
}

.actionsWithPacks img {
  cursor: pointer;

  width: 16px;
  height: 16px;
  margin-right: 10px;

  background-color: #fff;
  background-repeat: no-repeat;
  border: none;
  outline: none;

  transition: 0.2s;
}

.actionsWithPacks img:hover {
  transform: scale(1.25);
}
